div.row
    div.admin
        div.bounding-box
            div.admin-info
                div.row
                    div(class="two columns alpha")
                        div.left-box
                            div.gutter-text Profile:
                    div.offset-by-two
                        div.user-info
                            div.user-text #{user.firstname} #{user.lastname}
                            div.user-text Registered phone number: #{user.phone}
                            div.user-text Email: don.browning@gmail.com
                            div.user-text Website: http://www.google.com

                            
                div.row
                    div(class="two columns alpha")
                        div.left-box
                            div.gutter-text Listings:
                    div.offset-by-two    
                        each listing in homes
                            div.listing 
                                a(href="#",onClick="javascript:showings(#{listing.MLS});return false;") #{listing.MLS} - 1518 Carlson Point
                    div.offset-by-seven
                        div(id="showings", class="showings")


script
    function showings(mls){
        var showingDiv = $('div#showings');

        $.ajax({
                    url: "/user/showings/" + mls,
                    success: function(data) {
                        var content = '<br>';
                        $.each(data, function(){
                            var m = moment(this.date);
                            var niceDate = m.format('dddd, MMMM Do YYYY, h:mm:ss a');
                            var msg = 'Shown on: ' + niceDate + ' to user: ' + this.userid + ' phone: ' + this.phone + '<br>';
                            content += msg
                        })
                    
                        showingDiv.replaceWith('<div id="showings" class="showings"><div class="show-title"> Showings for ' + mls + '</div>' 
                            + content + '</div>');
                    }
                })


        
    }