div.row
    div.admin
        div.bounding-box
            div.admin-info
                div.row
                    div(class="two columns alpha")
                        div.left-box
                            div.gutter-text Profile:
                    div.offset-by-two
                        div.user-info
                            div.user-text #{user.firstname} #{user.lastname}
                            div.user-text Registered phone number: #{user.phone}
                            div.user-text Email: #{user.email}
                            div.user-text Website: #{user.url}

                            
                div.row
                    div(class="two columns alpha")
                        div.left-box
                            div.gutter-text Listings:
                            div.gutter-text-sm 
                                a(href="#", id="add") Add listing...
                    div.offset-by-two    
                        each listing in homes
                            div.listing
                                a(href="#", onClick="javascript:deleteMLS(#{listing.MLS});return false;")
                                    img(src="/images/pencil-delete-icon.png", class="icons", alt="delete")
                                a(href="#", onClick="javascript:editMLS(#{listing.MLS});return false;")
                                    img(src="/images/page-white-edit-icon.png", class="icons", atl="edit")
                                a(href="#",onClick="javascript:showings(#{listing.MLS});return false;") #{listing.MLS} - #{listing.propertyName}
                    div.offset-by-seven
                        div(id="showings", class="showings")


script
    $(function()
    {
        $('#add').click(function(){
            var m = $('body').modal().data('modal');
            var url = window.location.pathname.split('/');
            var id = url[url.length-1];
            $.ajax({
                url: "/user/listing/" + id,
                success: function(data){
                    console.log(data);
                    m.open(data);
                }
                });
            });
    });

    function showings(mls){
        var showingDiv = $('div#showings');

        $.ajax({
                    url: "/user/showings/" + mls,
                    success: function(data) {
                        var content = '<br>';
                        $.each(data, function(){
                            var m = moment(this.date);
                            var niceDate = m.format('dddd, MMMM Do YYYY, h:mm:ss a');
                            var msg = 'Shown on: ' + niceDate + ' to user: ' + this.userid + ' phone: ' + this.phone + '<br>';
                            content += msg
                        })
                    
                        showingDiv.replaceWith('<div id="showings" class="showings"><div class="show-title"> Showings for ' + mls + '</div>' 
                            + content + '</div>');
                    }
                })
        
    }

    function deleteMLS(mls){
        var ok = confirm('Are you sure you want to delete MLS: ' + mls);
        if(ok) {
            $.ajax({
                type: "POST",
                url: "/user/listing/delete/" + mls,
                data: ({mls: mls}),
                success: function(data){
                    location.reload();
                }
                });
        }
    }

    function editMLS(mls){
        alert("not yet...");
    }
